html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-size: 20px;
    font-family: var(--font-body);
}

body.ready {
    overflow: auto;
}

.webgl {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    position: relative;
    z-index: 2;
    /* height: 200vh; */
    color: #fff;
}

section {
    height: 100vh;
    outline: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.w-50 {
    width: 50%;
    padding-left: 3em;
}