/* *
{
    margin: 0;
    padding: 0;
} */

/* html,
body
{
    overflow: hidden;
} */

.webgl
{
    /* position: fixed;
    top: 0;
    left: 0;
    outline: none; */
    z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-size: 20px;
	font-family: var(--font-body);
	

}

body.ready {
    overflow: auto;
}

h1, h2, h3, h4, h5, h6, .heading {
	font-family: var(--font-heading);
}

.heading, h1 {
	font-size: clamp(30px, 6vw, 100px);
}



.page {
	position: relative;
	z-index: 2;
}



.section {
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	 outline: 1px solid red;
}

.blueprint {

	justify-content: flex-start;
	align-items: flex-start;
	height: 200vh;
	
}

.section-bear-stats {
	align-items: flex-end;
}

.section-witch-stats {
	 text-align: right;
}